In [1]:
import pyspark
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/03/02 07:23:01 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [ ]:
df = spark.read \
    .option("header", "true") \
    .csv('fhvhv_tripdata_2021-06.csv.gz')

In [5]:
df.schema

StructType([StructField('dispatching_base_num', StringType(), True), StructField('pickup_datetime', StringType(), True), StructField('dropoff_datetime', StringType(), True), StructField('PULocationID', StringType(), True), StructField('DOLocationID', StringType(), True), StructField('SR_Flag', StringType(), True), StructField('Affiliated_base_number', StringType(), True)])

In [8]:
from pyspark.sql import types

In [9]:
schema = types.StructType([
    types.StructField('dispatching_base_num', types.StringType(), True), 
    types.StructField('pickup_datetime', types.TimestampType(), True), 
    types.StructField('dropoff_datetime', types.TimestampType(), True), 
    types.StructField('PULocationID', types.IntegerType(), True), 
    types.StructField('DOLocationID', types.IntegerType(), True), 
    types.StructField('SR_Flag', types.StringType(), True), 
    types.StructField('Affiliated_base_number', types.IntegerType(), True)
])

In [10]:
df = spark.read \
    .option("header", "true") \
    .schema(schema) \
    .csv('fhvhv_tripdata_2021-06.csv.gz')

In [14]:
df = df.repartition(12)

In [15]:
df.write.parquet('fhvhv/2021/06/')

In [46]:
df = spark.read.parquet('fhvhv/2021/06/')

In [17]:
df

DataFrame[dispatching_base_num: string, pickup_datetime: timestamp, dropoff_datetime: timestamp, PULocationID: int, DOLocationID: int, SR_Flag: string, Affiliated_base_number: int]

In [18]:
df.show()

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|dispatching_base_num|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|SR_Flag|Affiliated_base_number|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|              B02866|2021-06-20 23:48:47|2021-06-21 00:11:11|         138|         256|      N|                  null|
|              B02835|2021-06-12 08:19:10|2021-06-12 08:42:20|          77|         215|      N|                  null|
|              B02869|2021-06-13 17:19:26|2021-06-13 17:23:57|         152|         166|      N|                  null|
|              B02877|2021-06-22 19:15:39|2021-06-22 19:34:59|         254|         243|      N|                  null|
|              B02510|2021-06-23 21:51:53|2021-06-23 22:09:36|         260|          25|      N|                  null|
|              B02765|2021-06-24 22:58:31|2021-06-24 23:05:58|         188|          72|      N|                  null|
|              B02764|2021-06-19 23:13:16|2021-06-19 23:20:10|          92|          73|      N|                  null|
|              B02510|2021-06-22 14:04:53|2021-06-22 14:10:00|         208|         208|      N|                  null|
|              B02510|2021-06-30 09:53:15|2021-06-30 10:17:14|          37|          71|      N|                  null|
|              B02510|2021-06-01 02:17:57|2021-06-01 02:26:29|          61|         177|      N|                  null|
|              B02682|2021-06-27 14:36:22|2021-06-27 14:57:04|         250|          56|      N|                  null|
|              B02887|2021-06-13 15:13:49|2021-06-13 15:48:00|         258|         224|      N|                  null|
|              B02510|2021-06-16 20:51:35|2021-06-16 21:33:42|         255|         265|      N|                  null|
|              B02871|2021-06-18 01:52:33|2021-06-18 02:12:30|          90|         243|      N|                  null|
|              B02764|2021-06-19 10:26:11|2021-06-19 10:39:05|         169|          42|      N|                  null|
|              B02880|2021-06-25 19:04:35|2021-06-25 19:12:14|         188|          61|      N|                  null|
|              B02512|2021-06-02 16:03:49|2021-06-02 16:08:29|         146|         226|      N|                  null|
|              B02866|2021-06-12 19:37:59|2021-06-12 19:56:28|         209|         186|      N|                  null|
|              B02875|2021-06-14 14:13:42|2021-06-14 14:41:56|         244|          68|      N|                  null|
|              B02884|2021-06-17 15:43:17|2021-06-17 16:07:45|         140|          87|      N|                  null|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
only showing top 20 rows

In [23]:
from pyspark.sql import functions as F

In [35]:
df \
    .withColumn('pickup_date', F.to_date(df.pickup_datetime)) \
    .withColumn('dropoff_date', F.to_date(df.dropoff_datetime)) \
    .select('pickup_date', 'dropoff_date', 'PULocationID' , 'DOLocationID') \
    .where("pickup_date = '2021-06-15'") \
    .count()

452470

In [47]:
df.createOrReplaceTempView('trips')

In [ ]:
spark.sql("""
SELECT MAX(DATEDIFF(hour, pickup_datetime, dropoff_datetime)) FROM trips
""").show()

In [63]:
spark.sql("""
SELECT PULocationID, COUNT(PULocationID) AS frequency
FROM trips
GROUP BY PULocationID
ORDER BY frequency DESC
LIMIT 1;
""").show()

+------------+---------+
|PULocationID|frequency|
+------------+---------+
|          61|   231279|
+------------+---------+